<nav class="navbar container-fluid bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button type="button" class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#xx" style="cursor:pointer">
            <i class="bi bi-bell"></i>
        </button>
    </div>
</nav>
