@page "/"
<div class="home-container">
    <header class="header">
        <h1>Excelência em Gestão de Negócios</h1>
        <p>Controle, visualize e otimize todas as áreas da sua empresa em um só lugar.</p>
    </header>



<PageTitle>Home</PageTitle>
<h1> home </h1>
=======
    <div class="buttons-container">
        <a href="#" class="btn">📊 Relatórios</a>
        <a href="#" class="btn">🔔 Notificações</a>
        <a href="#" class="btn">💰 Vendas</a>
        <a href="#" class="btn">💼 Caixa</a>
    </div>
</div>
>>>>>>> 1da06e4a09b757747fd20dc92afa36437b175542
